@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
 }
 @font-face { 
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
 }
body {
    margin: 0;
    padding: 0;


 }
 img{ 
    pointer-events: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

a{
    text-decoration: none ;
 }
 .block-1-bg{
    background: #14213D;
}
.block-1{
    color: white;
}
.block-1-user{
    display: flex;
}


/* FOOTER CSS CODE */

.footer{
    background: #14213D;
    min-height: 200px;

}

.footer-hr{
    margin: 0px auto;
    width: 100%;
    border: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;   
}


.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: #FFF;
}

.authors{
    margin: 50px 80px 0px;
    display: flex;
    vertical-align: middle;
}

/* FOOTER CSS CODE END */
@media (max-width:576px) {
    .block-1-user{
        display: block;
    }
    .block-1-user .col{
        display: flex;
        justify-content: center;
    }
}