@font-face { 
    font-family: 'Montserrat'; 
    font-weight: 800;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'); 
 }
 @font-face { 
    font-family: 'Montserrat'; 
    font-weight: 600;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
 }
 
	
body {
    background-color: var(--bg-color);
    color: var(--bg-text-color);
}

/* #container {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: rotate(45deg);
    top: 0; bottom: 0; left: 0; right: 0;
  } */
  #container {
    display: flex; 
    transform: rotate(45deg);
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.head-bg{
    background: var(--back-color)
 }
 a{
    text-decoration: none;
 }

.navbar {
    background-color: #20232a;
}

.navbar-brand img {
    height: 50px;
}

.switcher{
    display: flex;
}

.switcher__radio{
    opacity: 0;
}


.navbar-img{
    width: 30px;

}

.light-img{
    filter: var(--navbar-light-img);
}
.dark-img{
    filter: var(--navbar-dark-img);
}
hr{
    opacity: 1;
}

.header-content {
    padding: 100px 0;
    font-family: "Montserrat";

}

.header-content h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 50px;
}

.header-content p {
    font-size: 2rem;
    font-weight: 300;
    color: #f8b400;
}

.header-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-text {
    max-width: 600px;
    
}

.block-2-bg{
    background-color: var(--block-was-dark-bg);
    padding-bottom: 15px;
    transition: all 0.3s ease;
}

.block__2{
    font-family: 'Montserrat';
}

.block__2_header{
    color: var(--block-was-white-bg);
    text-shadow: 25px 20px 0px rgba(148, 148, 148, 0.28);
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 30px;
}
.block__2_line{

    width: 100%;
    height: 3px;
    background-color: var(--block-was-white-bg); 

      
}
.block__2 p{
    font-size: 1.3rem;
}

.rating{
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.star{
    font-size: 35px;
    cursor: pointer;
}


.change-theme{
    color: var(--block-was-white-bg);
    background: var(--block-was-dark-bg);
}

/* FOOTER CSS CODE */

.footer{
    background: var(--footer-bg);
    min-height: 600px;

}

.footer-hr{
    margin: 0px auto;
    width: 100%;
    border: var(--footer-hr-border);
    border-bottom: var(--footer-hr-border-bottom);
    background-color: var(--footer-bg-color);
}


.footer-text a{
    color: var(--footer-text-color);
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.footer-text a:hover{
    color:#6D7BFB;
}

.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: var(--footer-text-color);
}

.footer-secondary-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    color: #b4b4b4;
}

.authors{
    margin: 50px 80px 0px;
    display: flex;
    vertical-align: middle;
}

.footer-row{
    margin-top: 100px; 
    justify-content: space-evenly; 
}

.form-bg{
    background: var(--block-was-dark-bg);

}

.form-trigger{
    display: none;
    position: absolute;
    left:30%;
    background-color: #252525;
    border-radius: 10px;
    padding: 10px;
}

.show-the-form-trigger{
    display: block;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    width: 400px;
    cursor: pointer;
    padding: 0;
}

.pop-up-btn{
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    color: var(--block-was-white-bg);
}
.close-button{
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    margin-left: 80%;
}



@media (max-width:767px){
    .footer-row{
        flex-direction: column;
        justify-content: center;
        margin: 100px auto 0px;
        text-align: center;
    }

    .footer-col{
        margin: 0px auto;
    }
}

/* FOOTER CSS CODE END */





@media (max-width: 991px) {
    .header-section {
        flex-direction: column;
        text-align: center;
    }
    .header-content h1 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
@media (max-width: 768px) {
    .header-section {
        flex-direction: column;
        text-align: center;
    }
    .header-text {
        max-width: 100%;
    }
}