:root{
    --bg-text-color: white;
    --block-was-dark-bg: #14213D;
    --block-was-white: white;
    --form-control-bg: rgb(33, 37, 41);
    --form-floating-label: rgb(206, 206, 206) !important;
    --form-floating-label-focus: rgb(194, 194, 194) !important; 



    --footer-bg: #14213D;
    --footer-hr-border:  2px solid #ffffff;
    --footer-hr-border-bottom:  1px solid #ffffff;
    --footer-bg-color: #ffffff;
    --footer-text-color: #fff;
    --navbar-light-img: drop-shadow(0 0 10px rgba(255, 136, 0, 0));
    --navbar-dark-img: drop-shadow(0 0 10px rgba(55, 0, 255, 1));
}